.header {
  position: relative;
  // top: 0;
  height: 149px;
  background-color: #fff;
  z-index: 7;

  .menu {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .menuWrap {
      width: 876px;
    }

    .pageWrap {
      width: 512px;
    }

    .menuWrap,
    .pagesWrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
